.itemListContainer{
    width:90%;
    height:85vh;
    background-color:#F2F3ED;
    margin:auto;
    margin-top:5px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    /*background-image:url(../../images/38724.jpg);
    background-image: no-repeat;
    background-image: center;
    background-size: 100% 100%;*/
}


